{% trans %}
<h3>What is the SDG Data Hub?</h3>

<p>The United Nations recognizes that in order to build capacity in knowledge and skills to measuring progress towards the 2030 Sustainable Development Agenda, open sharing of relevant data, results of SDG research, and methodology is required. Making these things readily available will make it easier to close the capacity and data gaps, especially for developing countries who have more constrained resources.</p>

<p>There are datasets provided by various national governments, agencies and businesses across the Asia-Pacific region and, where relevant, from beyond. The data not only covers public and open data, but also metadata that points to private sources (access is restricted to these). We class data published in the SDG Data Hub into four main categories:</p>

<ol>
<li>Raw data (Big/small/micro) that could be used in SDG measurement</li>
<li> Published methodological results, using data for SDGs</li>
<li>Policy recommendations and documentation for sustainable development.</li>
<li>Articles of general interest to the SDG Data Hub community.</li>
</ol>

<h3>How can I use the data for achieving my SDGs?</h3>

<p>We have created the SDG Data Hub in order to allow sharing and collaboration internationally. You may want to learn about efforts from other countries who have already utilised data in their own national contexts, to understand how similar approaches might be applied in your own context. You may want to develop statistical models on big datasets available elsewhere. You may want to understand how SDG research has informed policy makers across the region. In any case, the SDG Data Hub is here to serve the Asia-Pacific community of sustainable development stakeholders work towards achieving the 2030 goals.</p>

<h3>How can I add my national government or organisation's data?</h3>

<p>We can provide guidance for preparing and publishing your data on the SDG Data Hub. Currently UNESCAP Data Curators will prepare, upload and edit the metadata and data about all datasets in the SDG Data Hub. Please take a look at the submission process documented at:</p>
<p><a href="">http://datahub.unescap.org/submissions</a></p>

<h3>Who is involved with the SDG Data Hub?</h3>

<p>The SDG Data Hub has been developed by the United Nations in response to the UNESCAP regional community's needs. The development of the SDG Data Hub is being led by the UNESCAP Statistics Division, working across the region to ensure that capacity building is targeted to where it is needed the most and supported by more advanced and better resourced countries.</p>

<h3>How can me or my team get involved?</h3>

<p>You can get involved in a number of ways:</p>

<ul>
<li>Publish data: The value in the SDG Data Hub is in its role as facilitating knowledge sharing across the regional community. If you have some interesting data, results, or policies you would like to share relating to SDGs, share it with us here!</li>
<li>Comments and feedback: We value all feedback from the user community in order to help make the SDG Data Hub as effective and useful as possible for all stakeholders.</li>
</ul>

<p>Email us at <a href="">datahub@unescap.org</a></p>
{% endtrans %}
